@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                defaultView: 'month',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                events: [
                        {
                        title: 'All Day Event',
                        start: '2019-12-01'
                        },
                        {
                        title: 'Long Event',
                        start: '2019-12-06',
                        end: '2019-12-10'
                        },
                        {
                        title: 'Meeting',
                        start: '2019-12-07T14:30:00'
                        },
                        ]
            });
        });
    </script>
}
<div class="row">
    <div id="calendar"></div>

</div>