
@{
    ViewBag.Title = "Admin";
}
<!-- nav-->
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Complaints">Complaints</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/HouseRules">House Rules</a>
        </li>
    </ul>
</div>

<div class="container-fluid">
    
    <h2 class="custom-page-header edit text-center">Admin</h2>
</div>
