.fc-content
{
    padding: 2px;
    font-family:'Arial Rounded MT';
    font-size: 14px;
    text-align: center;
    color: whitesmoke;
}

.text-warning
{
    color: red;
    font-size: 16px;
}
.text-warning a
{
    text-decoration: none;
}
.text-warning a :hover{
    color: black;
}